{% extends 'base.html' %}

{% block titulo %}
about_us
{% endblock %}

{% block contenido %}
<body>
    <div class="container">
    <h4 style="color:black; text-align: justify; margin-top: 3rem;">Somos Martín Falcone, Martín Rodriguez y Vanessa Dominguez, estamos incursionando en el apasionante mundo de la programación, siendo Python nuestro primer lenguaje aprendido. 
    Independientemente de la edad que tengamos, creemos que el conocimiento siempre nos abre puertas y que además todo se logra con esfuerzo, perseverancia y dedicación.
    Este es nuestro primer proyecto, un sitio web de venta de electrodomésticos. Simulamos una empresa que recien comienza, por ello aún no cuenta con una gran cartera de clientes, pero sí con dos grandes Proveedores.
    Esperamos les guste y prometemos darle algo mas estilo luego de otros cursos de CSS y bootstrap!.
    </h4>
    <form method="get" action="/">
        <input class="btn btn-primary" style="margin-left:0rem;margin-top:1rem" type="submit" style="color: white"
            value="Volver" />
    </form>
    </div>

</body>
</html>
{% endblock %}