{% extends 'base.html' %}

{% block titulo %}
Clientes
{% endblock %}

{% block contenido %}

</form>
<form class="form-inline my-2 my-lg-10" action="/Client/search-client/" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name='searchclient'>
    <button class="btn btn-primary" type="submit">Buscar Cliente</button>
</form>

<form class="form-inline my-2 my-lg-10" method="get" action="/Client/create-client/">
    <input class="btn btn-primary" type="submit" style="color: white" value="Carga de Clientes" />
</form>

<form method="get" action=" /">
    <input class="btn btn-primary" type="submit" style="color: white" value="Volver" />
</form>



<h2>Este es el listado de tus clientes</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for client in clientes %} &nbsp

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{client.name}}</h5>
            <p class="card-text">{{client.Cuit}}</p>
            <p class="card-text">{{client.city}}</p>
            
            <a href="/Client/detall-client/{{client.id}}/" class="btn btn-primary"  >Ver Detalle!</a> 
            
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}