{% extends 'base.html' %}

{% block titulo %}
Agregar Proveedor
{% endblock %}

{% block contenido %}
<div class="container">
{% if form %} 
    <h2>Completá los datos del proveedor a cargar</h2>

        <form method="POST" action="">
            {% csrf_token %} 
            <table>
                {{form.as_table}}
            </table>
            <input class="btn btn-primary" type="submit", value="Crear Proveedor">
        </form>


        {% endif %} 
        <form method="get" action=" /">
            <input class="btn btn-primary" type="submit" style="color: white; margin-top: 2rem;" value="Volver" />
        </form>
    </div>
    {% endblock %} 

    
    <!--elif new_provider 

    </li>
    <li class="nav-item">
        <a class="nav-link" href="/list_providers/create_provider">Crear nuevo proveedor</a>
    </li>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{new_provider.name}}</h5>
            <p class="card-text"> {{new_provider.contact}}</p>
            <p class="card-text">{{new_provider.contact_number}}</p>
            <p class="card-text" style="color:red">Realizar proxima compra {{new_provider.next_purchase}}</p>
        </div>
    </div>


    <br>
    <form method="get" action="/list_providers/">
        <input class="btn btn-primary" type="submit" style="color: white" value="Volver" />
    </form>

    -->