{% extends 'base.html' %}

{% block titulo %}

{% endblock %}

{% block contenido %}


<h2>Este es el listado de tus detalle clientes  TESTIAND</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
   

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{cliente.name}}</h5>
            <p class="card-text">{{cliente.Cuit}}</p>
            <p class="card-text">{{cliente.city}}</p>
            <p class="card-text">{{cliente.namer_phone}}</p>
            <p class="card-text">{{cliente.date_create}}</p>
            <p class="card-text">{{cliente.adess}}</p>
            <p class="card-text">{{cliente.city}}</p>
            <p class="card-text">{{cliente.city}}</p>
            <p class="card-text">{{cliente.active}}</p>
        <a href="/Client/delete-client/{{cliente.id}}/" class="btn btn-danger" >Eliminar!</a> 

        <a href="/Client/update-client/{{cliente.id}}/" class="btn btn-primary"  >Modificar!</a> 
            
        </div>
    </div>

    
</div>

{% endblock %}