{% extends 'base.html' %}

{% block titulo %}
Detalle de producto
{% endblock %}

{% block contenido %}
<div class="container">

<h3 style="margin-left:2rem; margin-top:2rem">Detalle de producto</h3>

<div class="d-flex" style="margin-top:2rem; margin-left:3rem">

    <div class="card" style="width: 18rem;">
        {% if object.image %}
        <center><img src="{{object.image.url}}" class="card-img-top" alt="{{object.name}}" style="width: 25%;"></center>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eligendi obcaecati a assumenda, ex neque placeat voluptatibus vitae magni quis iste, labore eos laudantium ad, tempore nulla? Aperiam, ipsa iste.</p>
            <p class="card-text">Precio:${{object.price}}</p>
            <a href="/Products/update_item/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/Products/delete_item/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

</div>
<form method="get" action="/Products/">
    <input class="btn btn-primary" type="submit" style="color: white; text-align:left; margin-top: 2rem" value="Volver" />
</form>
</div>

{% endblock %}


