{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<style>
    body {
        background-color: white;
    }

    h1 {
        color: grey;
        text-align: left;
    }
</style>
<h2>
    Somos el Grupo 5 de la tutoría de Juan Valle


    Nustro proyecto es una pagina que permina nucliar probeedores clientes y productos de una tienda 
    para logra la mejor forma de organizacion. 
     
    mejorando el sistema de orden 
</h2>

{% endblock %}