{% extends 'base.html' %}

{% block titulo %}
Catálogo de productos
{% endblock %}

{% block contenido %}
<div class="container">
    <h3>Catálogo de productos</h3>

    <body>
        </form>
        <form class="form-inline my-2 my-lg-10" action="/Products/search_item/" method="GET">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name='search'>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <form class="form-inline my-2 my-lg-10" method="get" action="/Products/create_item/">
            <input class="btn btn-primary" type="submit" style="color: white" value="Carga de Productos" />
        </form>

        <form method="get" action=" /">
            <input class="btn btn-primary" type="submit" style="color: white" value="Volver" />
        </form>


        <div class="row">

            {% for object in object_list %} &nbsp

            <div class="col-md-3">
                <div class="card h-100" style="text-align:center; margin: 4px 4px">
                    {% if object.image %}
                    <center><img src="{{object.image.url}}" class="card-img-top" alt="{{object.name}}" style="width: 25%;"></center>
                    {% endif %}

                    <div class="card-body h-100" style="text-align:center; margin: 4px 4px">
                        <h5 class="card-title">{{object.name}}</h5>
                        <p class="card-text">{{object.description}}</p>
                        <p class="card-text">Precio: ${{object.price}}</p>
                        <p class="card-text">Fecha de alta: {{object.created_at}}</p>
                        <p class="card-text">Categoría:&nbsp{{object.category}}</p>
                        <a href="/Products/detail_item/{{object.id}}/" class="btn btn-primary" class="form-inline my-2 my-lg-10" style="width: 5rem"
                            style="margin-top:2rem; margin-left:2rem">Detail</a>
                        <!-- <a href="/Products/delete_item/{{item.id}}" class="btn btn-danger" class="form-inline my-2 my-lg-10" style="width: 5rem"
                            style="margin-top:2rem; margin-left:2rem">Delete</a> -->
                        <!-- <form method="get" action="#">
                                <input class="btn btn-danger" style="margin: top 5rem;" type="submit" style="color: white" value="Delete" />
                            </form> -->

                    </div>
                </div>
        </div>
            {% endfor %}

        </body>
    </div>
    {% endblock %}



            <!-- 
        <div class="row row-cols-2 row-cols-md-2 g-2">
            <div class="col">
                <div class="d-flex container" style="margin-top:2rem; margin-left:0rem">
                    {% for item in items %} &nbsp
                    <div class="card h-100" style="width: 18rem;">
                        {% if item.image %}
                        <center><img src="{{item.image.url}}" class="card-img-top" alt="{{image}}" style="width: 30%;">
                        </center>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text">{{item.price}}</p>
                            <p class="card-text">{{item.created_at}}</p>
                            <p class="card-text">SKU= {{item.SKU}}</p>
                            <a href="#" class="btn btn-primary" class="form-inline my-2 my-lg-10" style="width: 7rem"
                                style="margin-top:2rem; margin-left:2rem">Add to cart</a>
                            <form method="get" action="#">
                                <input class="btn btn-danger" type="submit" style="color: white" value="Delete" />
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %} -->

