{% extends 'base.html' %}

{% block titulo %}
Buscar Productos
{% endblock %}

{% block contenido %}
<form method="get" action="/Products/">
    <input class="btn btn-primary" style="margin-left:0rem;margin-top:3rem" type="submit" style="color: white" value="Volver" />
</form>
<h2 style="margin-right:30rem; margin-top:2rem">El artículo buscado es "{{query}}"</h2>
<p> {{articulos|length}} Artículos encontrados </p>


{% if articulos %}
<div class="d-flex" style="margin-top:2rem; margin-left:5rem">
<!-- 
    <div class="card card text-center h-100"> -->

    {% for articulo in articulos %}
    <div class="d-flex" style="margin-top:2rem; margin-left:7rem">
        <div class="card" style="width: 18rem;">
            {% if articulo.image %}
            <center><img src="{{articulo.image.url}}" class="card-img-top" alt="{{image}}" style="width: 25%;"></center>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{articulo.name}}</h5>
                <p class="card-text">{{articulo.description}}</p>
                <p class="card-text">{{articulo.price}}</p>
                <p class="card-text">{{articulo.created_at}}</p>
                <p class="card-text">Categoría:&nbsp{{articulo.category}}</p>
                <a href="/Products/detail_item/{{articulo.id}}/" class="btn btn-primary" class="form-inline my-2 my-lg-10" style="width: 5rem" style="margin-top:2rem; margin-left:2rem">Detail</a>

            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<div> 
    <h2 style="color:red; margin-left:8rem">{{errors}}</h2></div>
</div>
{% endif %}

{% endblock %}
