{% extends 'base.html' %}

{% block titulo %}
    Cliente
{% endblock %}

{% block contenido %}

{% if form %}
    <h1>Crear Cliente</h1>

    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>

    {% elif new_client %}
        <h2 style="color:green; margin-left:33rem">Nuevo cliente creado!!</h2>
        <div class="card" style="width: 18rem;background-color: rgb(0, 255, 85);margin-top:4rem;margin-left:35rem">
            <div class="card-body">
                <h5 class="card-title">Nombre: {{new_client.name}}</h5>
                <p class="card-text">Descripcion: {{new_client.description}}</p>
                <p class="card-text">Precio: {{new_client.price}}</p>
            </div>
        </div>



    {% else %}
    

{% endif %}



{% endblock %}